header {
    background-color: var(--KOMBU-GREEN);
    color: var(--WHITE);
    height: 56px;
}

.header-title-line {
    padding: 0.25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

/* Burger Button */
.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-button:hover{
    cursor: pointer;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: var(--WHITE);
    border-radius: 5px;
    height: 1px;
    position: absolute;
    transition: all 0.5s;
    width: 40px;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
}

.menu-icon::before {
    transform: translate(-20px, -12px);
}

.menu-icon::after {
    transform: translate(-20px, 12px);
}

nav {
    animation: showMenu 0.75s ease-in-out forwards;
    background-color: var(--KOMBU-GREEN);
    display: none;
    transform-origin: top center;
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    80% {
        transform: scaleY(1.2);
    }

    100% {
        transform: scaleY(1);
    }
}

nav > ul {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}

nav > ul > li{
    background-color: saddlebrown;
    border-top: 1px solid var(--WHITE);    
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

nav > ul > li a{
    margin: auto;
    text-align: center;
}

nav a:any-link {
    color: var(--WHITE);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    transform: scale(1.2);
    transition: all 0.3s;
}